/*Estilos para la aplicación*/
body{
	/*Color fondo del cuerpo de las vistas*/
	background: #f0f0f0;
	text-align: center;
}
/*letra tamañano h1*/
h1{
	margin:0 auto;
	font-size:50px;
}
/*tamaño, borde, alineacion e imagen del encabezado*/
.encabezado{
	margin-right: auto;
	margin-left: auto;
	/*width:70%;*/
	text-align:center;
	margin-left: auto;
	border: 2px solid black;
	/*border-radius:50px;*/
	background: url("../img/header.jpg");
	font-weight: bold;
}
/*seccion row*/
.row{
	margin-left: auto;
	margin-right: auto;
	/*background-color: #f0f0f0;*/
	width: 70%;
	height: auto;
	text-align: left;
}
.contenedor{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 60%;
	height: auto;
}

/*estilos del formulario*/
form {
    margin-top: 21px;
    padding-top: 1%;
    border-top: 1px solid #d7d7d7;
    text-align: left;
}
	form p {
        color: #585858;
    }
		form label {
            display: table-cell;
            /*width: 140px;*/
            padding-right: 20px;
            text-align: right;
            font-weight: bold;
            vertical-align: top;
        }
    
    	form input[type="text"], form input[type="email"], form input[type="url"] {
        	display: table-cell;
       		width: 300px;
        	height: 20px;
        	border: 1px solid #d7d7d7;
        }
        
    	form textarea {
        	width: 65%;
        	height: 25%;
        	border: 1px solid #d7d7d7;
        }
        
    	form input[type="submit"] {
        	margin-left: 162px;
        }
        form select{
        	width: 50%;
        	font-size: 15px;
			border-radius:10px;
        }
        form button{
        	background: #007907;
        	width: 20%;
        	height: 9%;

        }
        #logout{
            background: white;
            color: Blue;
            width: 20%;
            height: 9%;
        }
        #nombre{
        	width: 50%;
        	height: 5%;
        	font-size: 15px;
			border-radius:10px;
        }
        #codigo{
        	width: 50%;
        	height: 5%;
        	font-size: 15px;
			border-radius:10px;
        }
        #username, #pass{
            width: 50%;
            height: 5%;
            font-size: 15px;
            border-radius:10px;
        }
#firstChoice, #secondChoice, #thirdChoice {
	font-size: 15px;
	border-radius:10px;
}

/*section contenedorCentrado*/
.contenedorCentrado{
	text-align: center;

}
	/*.boton{
		padding: 2%;
		margin-right: auto;
		margin-left: auto;	
		text-align:center;
		margin-left: auto;
		border: 2px solid black;
		border-radius:50px;
	}*/
